<template>
  <div class="home">
    <SMS/>
  </div>
</template>

<script>
// @ is an alias to /src
import SMS from '@/components/sendSMS.vue'
export default {
  name: 'Home',
  components: {
    SMS
  }
}
</script>


<style >
h1 {
  color: #eaeaea;
}

</style>