<template>
    <v-app>
        <div>
            <div class="field-container">
                <v-text-field :rules="[rules.required, rules.number]" prepend-icon="mdi-numeric-1-box-outline" hint="type a number greatert than 0" class="numbers-label" @keyup.enter="createNumberList()" label="How many phone numbers" v-model="list_size" dark></v-text-field>
                <v-btn class="number-button" @click="createNumberList()"  dark large text color="#7772e2" > send</v-btn>
            </div>
            <div v-if="is_number_list" class="field-container">
                <v-textarea prepend-icon="mdi-numeric-2-box-outline" hint="please use comma as a delimiter" rows="1" auto-grow class="numbers-label" @keyup.enter="insertNumbers()" label="Enter the numbers" v-model="raw_numbers" dark></v-textarea>
                <v-btn class="number-button" @click="insertNumbers()"  dark large text color="#7772e2" > add</v-btn>
            </div>
            <div v-if="list.length > 0">
                <ul v-for="(num, index) in list" :key="index">
                    <li style="color: white; font-size: 30px">{{num}}</li>
                </ul>
            </div>
        </div>
    </v-app>
</template>



<script>
export default {
    data() {
        return {
            list: [],
            list_size: null,
            raw_numbers: "",
            is_number_list: false,
            rules: {
                required: value  => !!value || 'Required.',
                number: value => !!Number.isInteger(parseInt(value)) || 'Number required.'
            }
        }
    },
    methods: {
        createNumberList() {
            if(this.list_size > 0) {
                this.is_number_list  = true;
            }
        },
        insertNumbers() {
            if(this.list_size == 1) {
                this.list.push(this.raw_numbers);
            } else {
                const l = this.raw_numbers.split(",");
                this.list = [...l];
            }
            this.verifyNumbers();
            console.log(this.list);
            this.raw_numbers = "";
        },
        verifyNumbers() {
            const verify = new RegExp("^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$/");
            let isGood = true;
            for (let number of this.list) {
               console.log(verify.test(number));
            }
        }
    }
}
</script>


<style scoped lang="scss">
$font-resp: calc(14px + (26 - 14) * ((100vw - 500px) / (2500 - 300)));
.field-container {
    margin-top:4%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.numbers-label {
    max-width: 50%;
}
.number-button {
    font-size: $font-resp;
    font-weight: bold;
    text-decoration: underline;
}
</style>