<template>
  <v-app id="app">
    <v-app-bar class="test" app dark>
      <div class="navbar">
        <h1 class="hidden-sm-and-down">this is a message send by your boy</h1>
      </div>
    </v-app-bar>

    <v-main>

      <router-link class="try" to="/"></router-link>
      <router-link class="try" to="/about"></router-link>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  components: {
  },
  data() {
    return {
    }
  }
};
</script>


<style lang="scss">
html {
  background-color: #444444 ;
}
.navbar {
  font-size: 100%;
  display: flex;
  justify-content: center;
  margin:auto
}
.test {
  background-color: #7772e2 !important;
}
#app {
  background-color: #444444 ;
  margin: auto;
}

@media (min-width: 1260px) {
  #app {
      width: 1220px;
  }
}

@media (min-width: 992px) {
  #app {
      width: 960px;
  }
}

@media (min-width: 768px) {
  #app {
      width: 740px;
  }
}
</style>